@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubunto-Bold";
  src: url("../libs/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubunto-BoldItalic";
  src: url("../libs/fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: "Ubunto-Italic";
  src: url("../libs/fonts/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url("../libs/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu-LightItalic";
  src: url("../libs/fonts/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../libs/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url("../libs/fonts/Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../libs/fonts/Ubuntu-Regular.ttf");
}

body {
  font-family: 'Ubuntu-Regular',
}

.topGrid {
  
}

.parentGrid {
  clip-path: polygon(100% 0, 100% 80%, 70% 90%, 0 90%, 0 0);
}

.parentGrid:hover {
  background-color: white;
}


.parentGrid:hover img{
  transform:scale(1.1);
}

.parentGrid:hover {
  background-color: white;
  color:white;
}





//Types

.typesContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 20px;
  gap: 10px;
  width: 75px;
  height: 24px;  
}
.grass {
  background: #9BCC50;
}
.poison {
  background: #B97FC9;
}
.fire {
  background: #FC7C23;
}
.flying {
  background: #30A7D7;
}
.water{
  background: #4592C4;
}
.bug {
  background: #729F3F;
}




/* Ash & Pikachu Arrive in Pokémon Universe */

.bottomTitle{
display: flex;
justify-content: center;
align-items: center;
}
.bottomTitle p{
/* Web Typography/Title */
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 55px;
text-align: center;
color: #257BC4;
}
